
body {
    margin-right: 0px;
    margin-left: 100px;
    margin-top: 50px;
    background: url(background-div.png);
}

p {
    font-family: 'Roboto Mono', monospace;
}


h2{
    color: #34495E;
    text-align: center;
    font-size: 30pt;
    font-family: 'Ropa Sans', sans-serif;
}

h3 {
    color: #34495E;
    text-align: center;
    font-size: 30pt;
    font-family: 'Ropa Sans', sans-serif;
}



.testemunho{
    margin: 10px;
    border-radius: 8px;
    border:#3498db solid 2px;
    max-width: 350px;
}

.testemunho img{
    padding-top: 5px;
    padding-left: 75px;
}
.testemunho p, h4{
    text-align: center;
}
/*Inicio Menu da tela Home*/
.menu1 {
    background-image: url(imagem2.png);
    min-width: 200px;
    height: 780px;
    background-size: 100%;
    background-repeat: no-repeat;
}


.drop {
    font-size: 30pt;
}
/*Fim Menu da tela Home*/

/*Inicio Resumo Doeki*/
/* .txtResumo {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-left: 200px;
    margin-top: -35px;
    background-color: rgba(203, 236, 247, 0.5);
    border-radius:8px ;
}

.imgResumo {
    display: inline-block;
    width: 400px;
    margin-top: -25px;
    margin-right: 40px;
    margin-left: 50px;
    
}

.amigos {
    height: 300px;
    border-radius: 10px;
    border: gray solid 3px;
    box-shadow: gray 3px 3px 3px;
} */
/*Fim Resumo Doeki*/

/*Inicio O poder de mudar uma vida*/
.poderMudar {
    margin-left: 100px;
    
}

.txtPoder {
    width: 800px;
    text-align: center;
    margin: -20px auto 0 auto;
    background-color: rgba(203, 236, 247, 0.5);
    border-radius:8px ;
}

.video1 {
    display: inline-block;
    margin-right: 20px;
}

.video2 {
    display: inline-block;
    margin-right: 20px;
}

.video3 {
    display: inline-block;
    margin-bottom: 30px;
}
/*Fim O poder de mudar uma vida*/

/*Inicio Footer Home */
.fimPagina {
    position: absolute;
    width: 1382px;
    height: 837.5px;
    top: 1830px;
    left: 0;
    text-align: center;
}

.txtDoeki {
    position: absolute;
    bottom: 100px;
    width: 300px;
    left: 300px;
    font-size: 15pt;
    
}

.endereco {
    position: absolute;
    width: 300px;
    bottom: 260px;
    font-size: 15pt;
    left: 750px;
    text-align: left;
    
}



.enderecoEsq {
    text-align: left;
}

.doeaki {
    position: absolute;
    width: 230px;
    right: 100px;
    top: 270px;
}

.facebook {
    position: absolute;
    bottom: 100px;
    right: 500px;
}

.insta {
    position: absolute;
    bottom: 100px;
    right: 200px;
}

.whatsapp {
    position: absolute;
    bottom: -10px;
    right: 540px;
}

.email {
    position: absolute;
    bottom: -10px;
    right: 210px;
}
/*Fim Footer Home*/

/*Inicio menu demais telas*/
.logoDoacao {
    width: 300px;
    top: 10px;
}

.menuNav2 {
    top: 30px;
}
.bgmenu {
    background-color: rgb(255, 236, 234);
    margin-right: 20px;
    height: 50px;

}
.menuNav2 a {
    color: black;
    text-decoration: none;
    width: 40px;
}

.diferente {
    margin-left: 300px;
    margin-top: -45px;
}
/*Fim menu demais telas*/

/*Inicio Passo para doar no Doeki*/

.imgApertar {
    width: 150px;
}

.imgPonteiro {
    width: 150px;
}

.imgUniao {
    width: 150px;
}

.imgMaoCoracao {
    width: 150px;
}

.imgCadeiranteFeliz {
    width: 150px;
}

/*Fim Passo para doar no Doeki*/

/*Inicio Formulário*/
.formulario {
    text-align: center;
}

.conteinerForm {
    margin: 0 auto 0 auto;
    width: 500px;
    text-align: left;
}



.conteinerForm p {
    margin-bottom: 1px;
    
}

.txtFormulario {
    width: 200px;
    margin: 30px auto 20px auto;
}

.labelForm1, .labelForm2 {
    color: #34495E;
    text-align: center;
    font-size: 20pt;
    font-family: 'Ropa Sans', sans-serif;
    margin-left: 50px;
}

.radioDoador {
    margin-right: 50px;
}

.dataNasc {
    margin-right:45px ;
    width: 225px ;
    display: inline-block;
}

.telefone {
    width: 225px;
    display: inline-block;
}

/* .inputData, .inputTel {
    background-color: lightblue;
    border-radius: 5px;
    height: 20px;
    width: 220px;
}

.inputNome, .inputSobrenome, .inputEndereco, .inputEmail {
    width: 500px;
    background-color: lightblue;
    border-radius: 5px;
    height: 20px;

} */



.conteinerForm .botaoEnviar {
    width: 500px;
    height: 50px;
    font-size: 20pt;
    background-color: rgba(241, 199, 8, 0.822);
    color: #34495E;
    border: 2px #34495E solid;
}

.frameForm {
    width: 100%;
    height: 700px;
}
/*Fim Formulário*/

/*Inicio Footer doação*/
.fimDoacao {
    position: absolute;
    width: 1382px;
    height: 837.5px;
    left: 0;
    text-align: center;
    top: 1180px;
}

.txtDoeki {
    bottom: 70px;
    width: 300px;
    left: 300px;
    font-size: 15pt;
}

.endereco {
    position: absolute;
    width: 300px;
    bottom: 260px;
    font-size: 15pt;
    left: 750px;
    text-align: left;
    
}

.enderecoEsq {
    text-align: left;
}

.doeaki {
    position: absolute;
    width: 230px;
    right: 100px;
    top: 270px;
}

.facebook {
    position: absolute;
    bottom: 100px;
    right: 500px;
}

.insta {
    position: absolute;
    bottom: 100px;
    right: 200px;
}

.whatsapp {
    position: absolute;
    bottom: -10px;
    right: 540px;
}

.email {
    position: absolute;
    bottom: -10px;
    right: 210px;
}
/*Fim Footer doação*/

/*Inicio Página sobre*/

.h3Sobre{
    width:100%;
    height:100% ;
    display: flex;
    justify-content: center;
    color: #34495e;
    font-size: 30px;
}


.quemSomos h2{
    color: #34495e;
}
.textoQuemSomos{
    width: 700px;
    margin: 30px auto;
    border-radius:8px ;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
}

.divisoriaSobre{
    margin:20px auto;
    
}

/* .planejamento{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: baseline ;
    align-items: baseline;
    
} */

/* 
.blocoMV{
    display: inline-block;
    align-items: flex-end;
} */
.missao{
    height: 100%;
    display: flex;
    /* justify-content: center ; */
    align-items: baseline;
    width: 600px;
  
}
.textoMissao{
    /* width: 300px;
    height: 150px;
    margin-top: 0px;
    border-radius:8px ;
    padding: 10px; */
    border-radius:8px ;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
}
.visao{
    height:100%;
    display: flex;
    /* justify-content: center ; */
    align-items: baseline;
    width: 100px;
}
.textoVisao{
    /* width: 300px;
    height: 150px;
    margin-top: 0px;
    border-radius:8px ;
    padding: 10px; */
    border-radius:8px ;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
}
/* .blocoPVa{
    display: inline-block;
    align-items: flex-end;
} */
.proposito{
    height:100%;
    display: flex;
    /* justify-content: center ; */
    align-items: baseline;
}
.textoProposito{
    /* width: 200px;
    height: 150px;
    margin-left: 30px;
    margin-top: 0px;
    border-radius:8px ;
    padding: 10px; */
    border-radius:8px ;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
}.valores{
    height:100%;
    display: flex;
    /* justify-content: center ; */
    align-items: baseline;
}
.textoValores{
    /* width: 300px;
    height: 150px;
    margin-top: 0px;
    padding: 10px; */
    border-radius:8px ;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
}


.textoODS{
    width: 80%;
    height: 80%;
    margin:  auto;
    border-radius:8px ;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
    margin-bottom: auto;
    justify-content: center;

}


.saberMais {
    text-align: center;
    background-color: rgba(203, 236, 247, 0.5);
    width: 600px;
    margin:20px 300px ;
}

.fimSobre {
    position: absolute;
    width: 1382px;
    height: 837.5px;
    left: 0;
    text-align: center;
    top: 2370px;
}
/*Fim Página sobre*/

/* Inicio Página parceiros */

.titParc{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content:center ;
    align-items: center ;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    color: #34495e;
}
.informativo{
    border-radius: 8px;
    width: 100%;
    height: 5%;
    margin-top: 40px;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color:rgba(106, 230, 106, 0.5);
    font-size: 13px;
}
.informativo h2{
    font-size: 15px;
} 
.blocoPc1{
    display:flex;
    margin-top: 30px; 
    text-align: justify;
}

.recode{
    width: 30%;
    height: 100%;
    margin-top: 10px;
    border-radius:8px ;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
    margin-right: 20px;
    
}
.aacd{ 
    text-align: center;
    height: 100%;
    margin-top: 10px;
    margin-left: auto;
    border-radius:8px ;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
    margin-right: 20px;
}
.lacre{
    text-align: center;
    height: 100%;
    margin-top: 10px;
    margin-left: auto;
    border-radius:8px ;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5); 
    margin-right: 20px;
}

 .blocoPc2{
    display:flex;
    margin-top: 30px;
 }

.senac{
    text-align: center;
    width: 30%;
    height: 30%;
    margin-top: 10px;
    margin-left: auto;
    border-radius:8px ;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5);
}
.cren{
    text-align: center;
    width: 30%;
    height: 30%;
    margin-top: 10px;
    margin-left: auto;
    border-radius:8px ;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5); 
}
.itau{
    text-align: center;
    width: 30%;
    height: 30%;
    margin-top: 10px;
    margin-left: auto;
    border-radius:8px ;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(203, 236, 247, 0.5); 
}
.fimParceiros {
    position: absolute;
    width: 1382px;
    height: 837.5px;
    left: 0;
    text-align: center;
    top: 1700px;
    display: block;
}

.invisivelParceiros {
    text-align: center;
    display: none;
}

.txtDoekiInvisivel {
    font-size: 15pt;
    min-width: 200px;
}

.enderecoInvisivel {
    font-size: 15pt;
    min-width: 200px;
}

.enderecoEsqInvisivel {
    text-align: left;
}

.botaoDoeaki2 {
    min-width: 200px;
}



/* Fim Página Parceiros */

/* @media only screen and (min-width : 576px) {
    .fimParceiros, .finalDoacao, .finalSobre1, .fim{
        display: none;
    }
    .invisivelParceiros {
        display: block;
    }
    .sobe {
        margin-top: -260px;
    }

  }

  @media only screen and (min-width : 768px) {
    .aacd {
        color: rgba(160, 120, 247, 0.5); 
    }
   

  }

  @media only screen and (min-width : 992px) {
    .aacd {
        color: rgba(100, 236, 247, 0.5); 
    }
   

  }

  @media only screen and (min-width : 1200 px) {
    .aacd {
        color: rgba(212, 236, 129, 0.5); 
    }
   

  }
 */













  @media only screen and (max-width : 1100px) {
    .fimParceiros, .finalDoacao, .finalSobre1, .fim{
        display: none;
    }
    .invisivelParceiros {
        display: block;
    }
    .imgP {
        max-width: 200px;
    }
    .ods {
        max-width: 200px;
    }
    .planEstrat {
        max-width: 330px;
    }

    .menu1 {
        height: 580px;
        background-image: none;
    }

    .amigos {
        display: none;
    }

    .txtPoder {
        max-width: 250px;
    }
    .ods3 {
        max-width: 200px;
    }
  }

  @media only screen and (max-width : 800px) {
    .planEstrat {
        max-width: 900px;
    }
    
  }

/* @media only screen and (min-width : 768px) {
    
    .menu1 {
        background-image: url(imagem2.png);
        min-width: 480px;
        height: 780px;
        background-size: 100%;
        background-repeat: no-repeat;
}

} */
  